<%= render 'shared/navbar' %>
 <%= render 'shared/btn-map' %>
  <div class="cards">
    <% @itineraries.each do |itinerary| %>
      <%= render "shared/card_itinerary_index", itinerary: itinerary %>
    <% end %>
  </div>

<%= @markers.to_json %>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-mapbox-coordinates="<%= @coordinates.to_json %>"
  data-mapbox-itineraries="<%= @itineraries.to_json %>"></div>
