<%= render 'shared/navbar' %>
<%= render "shared/search_form"%>

 <%= render 'shared/btn-map' %>
  <div class="cards">
    <% @itineraries.each do |itinerary| %>
      <%= render "shared/card_itinerary_index", itinerary: itinerary %>
    <% end %>
  </div>

<div style="width: 70%; height: 600px; margin: 0 auto"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-mapbox-itineraries="<%= @itineraries_for_mapbox.to_json %>"></div>
