<%# <%= render 'shared/navbar' %>
<%= render partial: "shared/search_form"%>

  <div class="cards">
    <% @itineraries.each do |itinerary| %>
      <%= render "shared/card_itinerary_index", itinerary: itinerary %>
    <% end %>
  </div>


<div data-controller="mapdisplay" class="container">
  <a data-action="click->mapdisplay#display" href="/" class="btn-map">Map</a>
  <div class= "d-none" data-mapdisplay-target="displayed" style="width: 70%; height: 600px; margin: 0 auto"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-mapbox-itineraries="<%= @itineraries_for_mapbox.to_json %>">
  </div>
</div>
