<%= render 'shared/navbar' %>
<%= render "shared/search_form"%>
<%= render "shared/burger_menu" %>

<div class="content-wrapper">
  <div data-controller="mapdisplay">
    <a data-action="click->mapdisplay#display" href="/" class="btn-map" data-mapdisplay-target="btn"><i class="fa-solid fa-map"></i> Map</a>
    <div class= "map-container" data-controller="mapbox"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-mapbox-itineraries="<%= @itineraries_for_mapbox %>" data-mapdisplay-target="mapcontainer">
        <div data-mapbox-target="map" style="height: 100%; width: 100%"></div>
    </div>
    <div class="cards" data-mapdisplay-target="cardscontainer">
      <% @itineraries.each do |itinerary| %>
        <%= render "shared/card_itinerary_index", itinerary: itinerary %>
      <% end %>
    </div>
  </div>
</div>
