    <% if user_signed_in? %>
      <div class="text-menu">
        <ul class="menu">
          <li><%=link_to "Profile", user_path(current_user),class:"menuLink active"%></li>
          <li><%= link_to "Create", user_path(current_user),class:"menuLink active"%></li>
          <li><%= link_to "Disconnect", user_path(current_user),class:"menuLink active"%></li>
        </ul>
      </div>
      <div class="menu-btn">
        <button class="btn-open-menu"><span></span><span></span><span></span></button>
      </div>
    <% else %>
      <div class="text-menu">
        <ul class="menu">
          <li><%= link_to "Sign in", new_user_session_path,class:"menuLink active"%></li>
          <li><%= link_to "Sign up", new_user_registration_path,class:"menuLink active"%></li>
        </ul>
      </div>
      <div class="menu-btn">
        <button class="btn-open-menu"><span></span><span></span><span></span></button>
      </div>
    <% end %>

      <%# <%= link_to new_user_session_path do %>
        <%# <%= image_tag "avatar.jpg", class: "avatar position-absolute" %>
