<% img = site.photo.attached? ? site.photo.key : image_tag("mountain.jpeg") %>
<div class="card">
  <div data-controller="content">
    <div class="card-site">
      <%= cl_image_tag img %>
        <div class="card-site-infos">
          <h2><%= site.name %></h2>
          <p><%= site.summary %></p>
          <div class="duration-minutes">
            <i class="fa-regular fa-clock"></i><p><%= site.duration_in_minutes %> min</p>
          </div>
        </div>
    </div>
    <a data-action="click->content#display" href="#" class="content">more info</a>
    <div class="info-site">
        <div class= "d-none" data-content-target="displayed">
          <%= site.content %>
        </div>
    </div>
  </div>
</div>
