<% default_img = site.itinerary.photo.key %>
<% img = site.photo.attached? ? site.photo.key : default_img %>
<%  hours = site.duration_in_minutes / 60 %>
<% minutes = site.duration_in_minutes % 60 %>
<% if hours > 1 %>
  <% hours_str = "#{hours} hours"  %>
<% elsif hours == 1 %>
  <% hours_str = "#{hours} hour"  %>
<% else %>
  <% hours_str = ""  %>
<% end %>
<% if minutes > 1 %>
  <% minutes_str = "#{minutes} minutes"  %>
<% elsif minutes == 1 %>
  <% minutes_str = "#{minutes} minute"  %>
<% else %>
  <% minutes_str = ""  %>
<% end %>

<% duration_str = "#{hours_str}  #{minutes_str}" %>


<div class="card-site-parent" id="site<%= site.id %>">
  <div data-controller="content">
    <div class="card-site">
      <%= cl_image_tag img %>
        <div class="card-site-infos">
          <h2><%= site.name %></h2>
          <p><%= site.summary %></p>
          <div class="duration-minutes">
            <i class="fa-regular fa-clock"></i><p><%=duration_str%>
          </div>
        </div>
    </div>
    <a data-action="click->content#display" data-content-target="btn" href="#" class="content">more info</a>
    <div class="info-site">
        <div class= "d-none" data-content-target="displayed">
          <%= site.content %>
        </div>
    </div>
  </div>
</div>
