<% default_img_url = cl_image_path(Itinerary.first.photo.key, width: 200, crop: :fill) %>
<% img_url = itinerary.photo.attached? ? cl_image_path(itinerary.photo.key, width: 200, crop: :fill) : default_img_url %>
<div class ="card-itinerary-parent">
  <div class="card-itinerary-child" style="background-image: linear-gradient(rgba(0,0,0,0.08), rgba(0,0,0,0.08)), url('<%= img_url %>')">
    <%# !! Change link below to favorites path !! %>
    <%= link_to "#", class: "favorite-link" do%>
      <i class="fa-regular fa-heart heart"></i>
    <% end %>
    <p><%= itinerary.name %></p>
    <div class="duration-days">
      <i class="fa-solid fa-calendar-minus"></i>
      <p><%=itinerary.duration_in_days%> day<%= itinerary.duration_in_days > 1 ? "s" : "" %></p>
    </div>
    <%= link_to "", itinerary_path(itinerary), class: "itinerary-link" %>
  </div>
  <div>
    <%= itinerary.summary%>
  </div>
</div>
