<div class="map-popup">
  <h2><%= itinerary.name %></h2>
  <p><%= itinerary.summary%></p>
  <div class="map-popup-footer">
    <div class="duration-days-popup">
      <p><i class="fa-solid fa-calendar-minus"></i> <%=itinerary.duration_in_days%> day<%= itinerary.duration_in_days > 1 ? "s" : "" %></p>
    </div>
    <%= link_to "Go", itinerary_path(itinerary), class: "btn-info-window" %>
  </div>

</div>
