<div class="titre-avatar position-relative">
  <li class="nav-item dropdown list-unstyled">
    <%= link_to root_path, class: "text-center mt-3 mb-3" do%>
      <h1>GeoJourney</h1>
    <% end %>
    <%= image_tag "avatar.jpg", class: "avatar dropdown-toggle position-absolute", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "Favourites", "#", class: "dropdown-item" %>
      <%= link_to "sign in", "#", class: "dropdown-item" %>
      <%= link_to "sign up", "#", class: "dropdown-item" %>
      <%= link_to "Create", "#", class: "dropdown-item" %>
    </div>
  </li>
</div>
